# 데이터 입출력
## 외부 파일 읽어오기

In [1]:
import pandas as pd

In [13]:
# csv 파일 -> dataframe
df = pd.read_csv('c:/py_data/population_in_Seoul.csv', encoding='cp949')
print(df.head())
print('\n')

# index_col 옵션으로 인덱스 열 지정
df_1 = pd.read_csv('c:/py_data/population_in_Seoul.csv', encoding='cp949',
                   index_col='자치구')
print(df_1.head())

   자치구       세대      합계_계    합계_남자    합계_여자    한국인_계   한국인_남자   한국인_여자  \
0   합계  4202888  10197604  5000005  5197599  9926968  4871560  5055408
1  종로구    72654    162820    79675    83145   153589    75611    77978
2   중구    59481    133240    65790    67450   124312    61656    62656
3  용산구   106544    244203   119132   125071   229456   111167   118289
4  성동구   130868    311244   153768   157476   303380   150076   153304

   등록외국인_계  등록외국인_남자  등록외국인_여자  65세이상고령자
0   270636    128445    142191   1321458
1     9231      4064      5167     25425
2     8928      4134      4794     20764
3    14747      7965      6782     36231
4     7864      3692      4172     39997


          세대      합계_계    합계_남자    합계_여자    한국인_계   한국인_남자   한국인_여자  등록외국인_계  \
자치구
합계   4202888  10197604  5000005  5197599  9926968  4871560  5055408   270636
종로구    72654    162820    79675    83145   153589    75611    77978     9231
중구     59481    133240    65790    67450   124312    61656    62656     8928
용산구   106544    244203   119132   125071   229456   111167   118289    14747
성동구   130868    311244   153768   157476   303380   150076   153304     7864

     등록외국인_남자  등록외국인_여자  65세이상고령자
자치구
합계     128445    142191   1321458
종로구      4064      5167     25425
중구       4134      4794     20764
용산구      7965      6782     36231
성동구      3692      4172     39997

In [14]:
# Excel 파일 -> dataframe  
df1 = pd.read_excel('c:/py_data/남북한발전전력량.xlsx', engine='openpyxl')               # header=0 기본값
df2 = pd.read_excel('c:/py_data/남북한발전전력량.xlsx', engine='openpyxl', header=None) # header 옵션 미적용

# 출력
print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [15]:
# json -> dataframe
df = pd.read_json('c:/py_data/df_sample.json')
print(df)
print('\n')
print(df.index)

      algol basic c++
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


Index(['Jerry', 'Riah', 'Paul'], dtype='object')

## 웹에서 가져오기

In [16]:
# HTML 표 속성 읽기
# 경로 저장
url = 'c:/py_data/sample.html'

# df로 변환
tables = pd.read_html(url)

# 표 개수 확인
print(len(tables))
print('\n')

# tables 리스트 원소를 반복하면서 출력
for i in range(len(tables)):
    print('tables[%s]' % i)
    print(tables[i])
    print('\n')
    
# 파이썬 패키지 정보가 들어있는 두 번째를 df에 저장
df = tables[1]

# name 열을 인덱스로 지정
df.set_index(['name'], inplace=True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

## 데이터 저장하기

In [24]:
# csv 파일로 저장

data = {'name':['Jerry','Riah','Paul'],
        'algol':['A','A+','B'],
        'basic':['C','B','B+'],
        'c++':['B+','C','C+']}

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

# 저장하기
df.to_csv('c:/py_data/df_sample.csv')

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [26]:
# json 파일로 저장
data1 = {'name':['Jerry','Riah','Paul'],
        'algol':['A','A+','B'],
        'basic':['C','B','B+'],
        'c++':['B+','C','C+']}

data2 = {'c0':[1,2,3],
         'c1':[4,5,6],
         'c2':[7,8,9],
         'c3':[10,11,12],
         'c4':[13,14,15]}

df1 = pd.DataFrame(data1)
df1.set_index('name', inplace=True)   # name 열을 인덱스로 지정
print(df1)
print('\n')

df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)
print('\n')

# df1을 'sheet1'으로, df2를 'sheet2'로 저장(Excel 파일명은 'df_excelwriter.xlsx')
writer = pd.ExcelWriter('c:/py_data/df.ExcelWriter.xlsx')         # ExcelWriter는 워크북 객체 생성
df1.to_excel(writer, sheet_name='sheet1')
df2.to_excel(writer, sheet_name='sheet2')
writer.save()

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15